{{define "home.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
  {{template "CommonHead"}}
  <title>GoDoc</title>
</head>

<body>
  {{template "NavBar" "home"}}
  <div class="container">
    <p>&nbsp;
    <div class="row">
        <div class="well">
          Search for Go packages by keyword or import path.</p>
          {{template "SearchBox" ""}}
        </div>
    </div>
  </div>

<div class="container" style="-webkit-column-count: 2; -moz-column-count: 2; column-count: 2">
<p>Top 10 most frequently accessed packages:
<ul>
{{range .freq}}
<li><a href="{{ url . }}">{{.}}</a></li>
{{end}}
</ul>

<p>The 10 most recently accessed packages:
<ul>
{{range .recent}}
<li><a href="{{ url . }}">{{.}}</a></li>
{{end}}
</ul>
</div>

</body>
</html>
{{end}}
